﻿{% extends "base.html" %}

<BODY>
<DIV class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">
	
	{% block nivagation %}
	<NAV class="uk-navbar uk-margin-large-bottom">
		<A class="uk-navbar-brand uk-hidden-small" href="">Brand</A>             
    
		<UL class="uk-navbar-nav uk-hidden-small">
			<LI class="uk-active"><A href="">主页</A></LI>
			{% for catagory in catagories %}
			<LI><A href="">{{ catagory.title }}</A></LI>
			{% endfor %}
			<LI><A href="">关于</A></LI>
			<LI><A href="">联系我</A></LI>
			<LI><A href="">登录</A></LI>
		</UL>
		<a href="#offcanvas" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas></a>
        <div class="uk-navbar-brand uk-navbar-center uk-visible-small">Brand</div>
	</NAV>
	{% endblock %}


	<DIV class="uk-grid" data-uk-grid-margin="">

		{% block article %}
		<DIV class="uk-width-medium-3-4">

			{% for articleVar in articles %}
			<ARTICLE class="uk-article">
				<H1 class="uk-article-title">{{ articleVar.title }}</H1>
				<P class="uk-article-meta">By Jc on {{articleVar.publish_date|date:"D d M Y" }}. Posted in <A href="">Blog</A></P>
				<P><A href=""> <IMG width="900" height="300" alt="" src=""></A>  </P>

				{% autoescape off %}
				{{ articleVar.content }}
				{% endautoescape %}
				<P>
					<A class="uk-button uk-button-primary" href="">Continue Reading</A>
					<A class="uk-button" href="">{{ articleVar.comment_set.all|length }} comments</A>
				</P>

			</ARTICLE>
			{% endfor %}

			
			<UL class="uk-pagination">
				<LI class="uk-disabled"><SPAN><I class="uk-icon-angle-double-left"></I></SPAN></LI>
				<LI class="uk-active"><SPAN>1</SPAN></LI>
				<LI><A href="">2</A></LI>
				<LI><A href="">3</A></LI>
				<LI><A href="">4</A></LI>
				<LI><SPAN>...</SPAN></LI>
				<LI><A href="">20</A></LI>
				<LI><A href=""><I class="uk-icon-angle-double-right"></I></A></LI>
			</UL>
		</DIV>
		{% endblock %}


		<DIV class="uk-width-medium-1-4">
			{% block usershow %}
			<DIV class="uk-panel uk-panel-box uk-text-center">
				<IMG width="120" height="120" class="uk-border-circle" alt="" src="">                         
				<H3>Author Name</H3>
				<P>Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut.</P>
			</DIV>
			{% endblock %}

			{% block newestpub %}
			<DIV class="uk-panel">
				<H3 class="uk-panel-title">最新发布</H3>
				<UL class="uk-list uk-list-line">
					<LI><A href="">Python好玩么?</A></LI>
					<LI><A href="">给你一次机会，你会选择重新什么？</A></LI>
					<LI><A href="">Scrapy抓取人人网</A></LI>
					<LI><A href="">Tomcat代码理解</A></LI>
				</UL>
			</DIV>
			{% endblock %}

			{% block catagory %}
			<DIV class="uk-panel">
				<H3 class="uk-panel-title">几个话题</H3>
				<UL class="uk-list uk-list-line">
					<LI><A href="">Web 设计</A></LI>
					<LI><A href="">Python教程</A></LI>
					<LI><A href="">Java思考</A></LI>
				</UL>
			</DIV>
			{% endblock %}

			{% block timeline %}
			<DIV class="uk-panel">
				<H3 class="uk-panel-title">时间传送</H3>
				<UL class="uk-list uk-list-line">
					<LI><A href="">9/2014</A></LI>
					<LI><A href="">12/2013</A></LI>
					<LI><A href="">12/2013</A></LI>
					<LI><A href="">12/2013</A></LI>
				</UL>
			</DIV>
			{% endblock %}

			{% block links %}
			<DIV class="uk-panel">
				<H3 class="uk-panel-title">有情连接</H3>
				<UL class="uk-list">
					<LI><A href="">GitHub</A></LI>
					<LI><A href="">Twitter</A></LI>
					<LI><A href="">Facebook</A></LI>
				</UL>
			</DIV>
			{% endblock %}
		</DIV>
	</DIV>
</DIV>
</BODY>
</HTML>
